/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 62.5%; /* 1em = 10px */
    background-color: #e6e6e6;
}

h1 {
    font-size: 5em;
    text-align: center;
    margin-top:20px;
    margin-bottom: 0;
    font-weight: 700;
}

h2 {
    font-weight: 600;
    margin-top: 5px;
    font-size: 1.5em;
    text-align: center;
}

.projects {
    @include box-sizing(content-box);
    width: 80%;
    margin: auto;
}

.project {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    border-radius: 4px;
    padding: 3px;
    margin: 50px 40px 3px 40px;
    background-color: #9a9a9a;
    display:inline-block;
    float: center;
}

.pImage {
    background-image: url();
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
    border-radius: 4px;
}

#portfolio {
    background-image: url(../../images/portfolioshot.png);
    background-color: #333739;
    background-size: 100%;
}

#steam {
    background-image: url(../../images/steamshot.png);
    background-color: #333739;
    background-size: 80%;
}

#behance {
    background-image: url(../../images/behanceshot.png);
    background-color: darken(#2D9AD2, 10%);
    background-size: 80%;
}

a {
    width: 200px;
}