@import url(https://fonts.googleapis.com/css?family=Dosis:400,600,300);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* my css starts */

body {
    font-family: 'Dosis', sans-serif;
    color: #666;
}

.about-side {
    position: fixed;
    width: 35%;
    float: left;
}

header {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 40px;
}

header h2 {
    color: #aaa;
}

.name, .about-text {
    width: 75%;
    max-width: 400px;
    margin: auto;
}

a {
    text-decoration: none;
}

a:active {
    color: inherit;
}

.about-text {
    padding-top: 40px;
    font-size: 18px;
    line-height: 1.3;
}

.about-text a {
    font-weight: 600;
    text-decoration: none;
    color: #666;
}

.about-text a:hover {
    color: #bbb;
}

h1 {
    margin-bottom: 4px;
    font-size: 35px;
    color: #666;
    font-weight: 600;
}

p {
    padding-bottom: 10px;
}

.lead {
    font-size: 20px;
}

li {
    padding-right: 12px;
    display: inline-block;
}

.contact-links {
    margin-top: 50px;
}

.contact-links i {
    color: #aaa;
}

.contact-links i:hover {
    color: #666;
}

em {
    font-style: italic;
}

ul {

}

.intro {
    font-weight: 600;
}

.fa-arrow-right {
    font-size: 14px;
}


.work-side {
    float: right;
    width: 65%;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    height: auto;
}

.projects {
    margin: 0 auto;
    width: 90%;
    max-width: 950px;
    padding: 40px 0;
    clear: both;

}

.project-box {
    float: left;
    box-sizing: border-box;
    height: 250px;
    padding: 12px;
}

.project {

    float: left;
    height: 100%;
    width: 100%;
    margin: auto;
    display: border-box;
    position: relative;
    background-color: #bbb;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;

    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.project:hover {
    -webkit-transition: all 0.2 ease-in-out;
    -moz-transition: all 0.2s ease;
    transition: all 0.20s ease-in-out;

    transform: scale(1.05);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
}

.large {
    width: 66%;
    height: 500px;

}

.medium {
    width: 66%;
}

.small {
    width: 33%;
}

.turnip {
    background-color: #e496b4;
}

.take-48 {
    background-image: url("../images/take-48.svg");
    background-size: cover;
    background-color: #fff;
}

.turnip-img {
    width: 45%;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

.explore {
    background-image: url("../images/svg-exploration.png");
    background-size: cover;
}

.milkrate {
    background-image: url("../images/milkrate.svg");
    background-color: #eee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.tetley {
    background-image: url("../images/tetley-timer.jpg");
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sprouted {
    background-color: #3CE6AD;
    background-image: url("../images/sprouted.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.pr-link {
    width: 100%;
    height: 100%;
}


.pr-info-box {
    /*
    margin-top: 15px;
    margin-left: 15px;
    */
    padding: 20px;
    display: inline-block;
    height: 100%;
    background-color: white;

}

.pr-info-box.toggling {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;

    transform: translateX(-300px);
}

 .project:hover > .pr-info-box.toggling  {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    transition: all 0.35s ease;

    transform: translateX(0);
}





.pr-info {
    /* box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.15); */
    transform: translateZ(5px);

    background-color: white;
    display: inline-block;
    color: #666;
    font-size: 18px;
    padding: 5px 10px;
    margin-bottom: -1px;
    clear: both;
    float: left;
}

.pr-title {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;

}

.pr-title::after {
    position: absolute;
    content: "";
    bottom: 6px;
    left: 10px;
    width: 10px;
    height: 1px;
    background-color: #666;
}


.category {
    color: #aaa;
    font-size: 14px;
}

.pr-view {
    color: white;
    background-color: #3CE6AD;
    margin-top: 15px;
    margin-left: 8px;

    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.20);

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.turnip .pr-view {
    background-color: #e496b4;
}

.pr-view:hover {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease-in-out;

    transform: scale(1.10);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
}

@media screen and (max-width: 1100px) {

    /*
    header {
        background-color: #3CE6AD;
    }

    header h1 {
        color: white;
    }

    */
    header {
        padding-top: 100px;
    }


    .about-side {
        position: relative;
        width: 100%;
        clear: both;
        padding-bottom: 60px;
    }

    .work-side {
        width: 100%;
    }
}


@media screen and (max-width: 700px) {

    .turnip-img {
        width: 32%;
        right: 10px;
    }

    .projects {
        max-width: 400px;
    }

    .large {
        width: 100%;
        height: 300px;

    }

    .medium {
        width: 100%;
    }

    .small {
        width: 100%;
    }

}
