/*legreya:400italic,400,700*/

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 62.5%; /* 1em = 10px */
    background-color: #333739;
}

main {
    max-width: 90%;
    margin: auto;
}

a {
    text-decoration: none;
}

/*header stuff--------------------------------------------------------------*/

h1 {
    font-size: 2.5em;
    font-weight: 300;
    text-align: left;
    color: #fff;
    margin:0;
    padding: 0px;
    display:inline;
    position: absolute;
    margin-left: -15px;
    margin-top: 2px;
}

.logo {
    display: inline;
    right: 0;
    width:100px;
    margin-left:20px;
}

header {
    background-color: #171c1b;
    width:100%;
    padding:13px 0 13px 0px;
    height: 40px;
}

.status {
    background-color: hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
}

.refresh {
    height: 28px;
    width: 80px;
    margin-right: 20px;
    display:inline-block;
    position: absolute;
    right:0;
    top:15px;
    background-color: #9bc85c;
    text-align:center;
    padding-top:8px;
    color:#fff;
    font-size:1.5em;
    border-radius: 2px;
}

.refresh:hover{
    margin-top: 1px;
    background-color: hsl(85, 50%, 50%);
}

/*footer stuff--------------------------------------------------------------*/
 /*
footer {
    width:100%;
    position: absolute;
    bottom: 0;
    padding:0;
    background-color: #171c1b;
}

footer p {
    padding-left: 15px;
    font-size:1.2em;
    color:hsl(0, 0%, 41%);
}

*/
/*user card--------------------------------------------------------------*/

.user {
    display: block;
    background-color: hsl(168, 10%, 7%);
    width:48%;
    box-sizing:padding-box;
    padding: 10px 0 10px 0;
    float:left;
    height:200px;
    border-radius:3px;
    margin-top: 30px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.30);
}

.user.odd {
    float: right;
}

/*user (top section)--------------------------------------------------------------*/

.top {
    background-color: #171c1b;
    padding: 0;
    top: 0;
    width:100%;
    height: 45px;
    margin-top:-10px;
    text-align: right;
}

.top h3, .top p {
 display:inline-block;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top:5px;
}

.top h3 {
    color: #fff;
    font-size:2.5em;
    padding-right: 15px;
}

.top p {
    color: hsl(0, 0%, 41%);
    font-size:1.5em;
    padding-right:5px;
}

/*user (profile side)--------------------------------------------------------------*/

.profileSide {
    width: auto;
    height: 100%;
    float:left:
}

.sCircle {
    height:180px;
    width: 180px;
    border-radius: 50%;
    padding:4px;
    margin: -29.5px 0 0 20px;
}

.profileCircle {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    height:100%;
    width:100%;
    border-radius: 50%;
}



.lvlCircle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.40);
}

.lvlCircle h3 {
    font-size: 2.5em;
    margin:auto;
    padding: 7px 0 0 0px;
    color: #fff;
    font-family: "Open Sans";
    font-weight: 300;
    text-align:center;
}

.lvlCircle.big {
    background-color: #d95b43;
}

.lvlCircle.med {
    background-color: #c02942;
}

/*User(status side)--------------------------------------------------------------*/

.statusSide {
    margin-top:-155px;
    display:inline-block;
    float: right;
    padding-right:15px;
    width:50%;
}

.steamStatus {
    font-size:2em;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0);
    color: none;
    text-align: right;
    padding-bottom: 3px;
    border-bottom: solid 2px hsl(0, 0%, 41%);
    width:100%;
}

.badgeArea {
    background-color: #171c1b;
    height: 70px;
    border-radius: 2px;
    padding:10px;
}

.badge {
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    float:left;
    width: 70px;
    height: 70px;
    margin: 0px 0 0 0px;
    /*box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.40);*/
}

.badgeArea h4 {
    font-weight: 400;
    Color: #fff;
    padding-left: 15px;
    font-size: 1.7em;
    display: inline-block;
    position:absolute;
    margin-top: 15px;
}

.badgeArea p {
    font-weight: 300;
    color:hsl(0, 0%, 41%);
    display: inline-block;
    font-size:1.6em;
    margin:36px 0 0 15px;
    position: absolute;
}

/*Status Stuff-----------------------------------*/

.Bonline {
    background-color: #689dd4;
}

.Tonline {
    color: #689dd4;
    border-bottom-color: #689dd4;
}

.BinGame {
    background-color: #9bc85c;
}

.TinGame {
    color: #9bc85c;
    border-bottom-color: #9bc85c;
}


/*User Specific Stuff! -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
.badge.nintyfan {
    background-image: url(http://cdn.steamcommunity.com/public/images/badges/02_years/steamyears402_54.png);
}

.badge.ludicrousa {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/730/400f2cdf69db174f5616038edbb7a3f8e917ae00.png);
}

.badge.mithon {
    background-image: url(http://cdn.steamcommunity.com/public/images/badges/13_gamecollector/100.png);
}

.badge.mikeshz {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/570/05b1b9d504df01096b406777be0d7331d995cf9e.png);
}
  
.badge.garargar {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/items/267420/a1fe645ea5bd6a90c1509d2d3653e2895204c7f1.png);
}

.profileCircle.nintyfan {
    background-image: url("//lh3.googleusercontent.com/-qpThOl-oXpQ/UaYT0zv2HrI/AAAAAAAAAEc/V5Hivci55lE/s256-no/13fdd5e0-81b4-47bd-8bfc-a57d77a310d4");
}

.profileCircle.ludicrousa {
    background-image: url(http://media.steampowered.com/steamcommunity/public/images/avatars/8d/8d8327ff5a7339e7d65392a6e71e88762082384a_full.jpg);
}

.profileCircle.mithon {
 background-image: url(https://lh3.googleusercontent.com/-AIBvXuVfa2E/UvLbfFQoq5I/AAAAAAAAB-Q/MuQ7gkIpb-A/w899-h896-no/New-Profile-Pic-.jpg);   
    background-size: 110%;
}

.profileCircle.mikeshz {
 background-image: url(http://media.steampowered.com/steamcommunity/public/images/avatars/b1/b114fe00347c3b01b5b954986cda6904b22c6eec_full.jpg);   
}

.profileCircle.garargar {
 background-image: url(http://media.steampowered.com/steamcommunity/public/images/avatars/89/8972743c842e5ad60d4c6c0b88b0e71513479d67_full.jpg);   
}

/*Break Points--------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
    .user {
        width: 70%;
        float:none !important;
        margin: auto; 
        margin-top: 30px;
    }
}

@media screen and (max-width: 940px) {
    .user {
        width: 90%;
        float:none !important;
        margin: auto; 
        margin-top: 30px;
    }
}

@media screen and (max-width: 620px){
    .statusSide {
        margin:auto;
        margin-top:20px;
        float:none;
        text-align: center;
    }
    
    .profileSide { 
        float:none;
        margin: auto;
        margin-top:60px;
        margin-left: 45px;
        position: absolute;
    }
    
    .steamStatus {
        text-align: center;
        position: absolute;
        width: 100%;
        margin-left:5px;
    }
    
    .steamStatus span {
        display:none;
    }
    
    .badgeArea {
        display:none;
    }

    .user {
        height: 320px;
        padding-bottom: 20px;
    }
    
    
}