@import "compass";

$fonts: "Open Sans", sans-serif;

$basecolor: #0AA194;
$midblue: #029688;
$darkblue: #0260AD;
$midgreen: #02B875;
$darkgreen: #02AD3E;
$gray: gray;
$background: #f0f0f0;
$shadow: rgba(128, 128, 128, 0.81);

/*MAIN STUFF*/

html {
    font-size: 16px;
}

body {
    font-family: $fonts;
    font-weight: 300;
    margin: 0;
    font-size: 62.5%; /* 1em = 10px */
    background-color: $background;
}

.card {
    width:100%;
    &:first-child {
        margin-top: 50px;
    }
}

.box {
    max-width: 1250px;
    margin:auto;
    width: 100%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.outer {
    text-align: center;
}

/*HEADER STUFF*/

header {
    position: fixed;
    height: 50px;
    background-color: white;
    width: 100%;
    z-index: 2;
}

nav {
    margin: auto;
    max-width: 1280px;
}

nav ul {
    float: right;
}

header h3 {
    font-size: (24 / 14) * 1em;
    padding: 5px;
    color: white;
    background-color: $basecolor;
    border-radius: 2px;
}

nav div {
    padding: 8px 0 0 15px;
}

nav ul, nav li, nav div, nav h3{
    display: inline-block;
    margin: 0;
}

nav ul li {
    @include transition-property(border);
    @include transition-duration(0.1s);
    @include transition-timing-function(ease-in);
    list-style: none;
    text-decoration: none;
    font-size: (20 / 14) * 1em;
    font-weight: 700;
    color: $gray;
    padding-bottom: 12px;
    margin: 15px 40px 0px 40px;
    &:hover {
        border-bottom: 4px solid $basecolor;
        color: $basecolor;
    }
    a   {
        color:inherit;
    }

}

nav ul {
    padding-left: 0;
}

/*INTRO STUFF*/

#intro {
    height: 300px;
    @include background-image(radial-gradient(300px 300px, $midblue 200px, $midgreen 500px));
}

#introtext  {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 6em;
    margin-top: 125px;
    width: 100%;
}

.triangle {
    width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 25px solid $midblue;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
    margin-top: 90px;
}

/*PORTFOLIO STUFF*/

#projects {
    //height: 800px;
    margin:auto;
    width: 100%;
    max-width: 1280px;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
}

.project {
    height: 230px;
    width: 230px;
    background-color: $shadow;
    @include box-shadow($shadow 0px 2px 20px);
    border-radius: 3px;
    margin: 35px; 
    display: inline-block;
    float: center;
}

.project h3 {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: inline-block;
    padding: 8px 7px 8px 7px;
    margin-top: 100px;
    color: transparent;
    font-size: 1.5em;
    border: 1px solid #fff;
    border-radius: 2px;
    border-color: transparent;
    font-weight: 500;
}

.project a {
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    text-decoration: none;
    width: 100%;
    height: 100%;
     &:hover {
        h3 {
            color: #fff;
            border-color: #fff;
            background-color: rgba( #383a3b, 1 )
        }
        background-color: rgba( $gray, 0.5 );
     }
}

/*Individual projects*/

#portfoliosite {
    background-image: url(../../images/portfolioshot.png);
    background-color: #333739;
    background-size: 100%;
    background-position: center;
}

#youonline {
    padding: 0;
    background-image: url(../../images/steamshot.png);
    background-color: #333739;
    background-size:85%;
    background-repeat: no-repeat;
    background-position: center;
}

#take48 {
    background-image: url(../../images/Take48shotSMALL.jpg);
    background-color: #333739;
    background-size: 100%;
    background-position: center;
}

#youtube {
    background-image: url(../../images/youtubeshot.png);
    background-size: 120%;
    background-position: center; 
    background-repeat: no-repeat;
}

#behance {
    background-image: url(../../images/behanceshot.png);
    background-color: #61bbe8;
    background-size: 80%;
    background-position: center; 
    background-repeat: no-repeat;
}

#hunterandfriends {
    background-image: url(../../images/hunterandfriendsshot-01.jpg);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

#tacsplustoes {
    background-image: url(../../images/tacsplustoesshot-01.jpg);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

#aphslogo {
    background-image: url(../../images/aphslogoshot.png);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

#seemore {
    background-image: url(../../images/moreshot-01.jpg);
    background-size: 100%;
    background-position: center; 
    background-repeat: no-repeat;
}

/*ABOUT ME STUFF*/

#aboutme {
    height: 450px;
    background-color: $midblue;
    padding:0;
    color: #fff;
}

#aboutbox {
    padding-top: 50px;
}

#abouttext {
    width: 40%;
    float: left;
    margin-top:10px;
    display: inline-block;
    margin-left: 40px;
    a {
        color: lighten($midgreen, 10%);
    }
    em {
        font-weight:500;
    }
}

#abouttext h3 {
    font-size: 3em;
    padding:0;
    margin: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
}

#abouttext p {
    margin-top: 10px;
    font-size: 1.5em;
}

#myface {
    background-image: url(../../images/myface.jpg);
    background-size: 140%;
    height: 100%;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 3px;
}

#facecontainer {
    background-color: lighten($midblue, 10%);
    height: 300px;
    width: 300px;
    float: right;
    display: inline-block;
    padding: 5px;
    border-radius: 3px;
    @include box-shadow(rgba(0, 0, 0, 0.3) 0px 2px 20px);
    margin-right: 40px;
    vertical-align: center;
}

/*SKILLS SECTION*/

#skills {
    height: 100%;
    padding-bottom: 40px;
    h3 {
        margin-left: 40px;
        font-size: 3em;
        text-align: left;
        color: #000;
        padding: 2px;
        padding-bottom: 5px;
        padding-left: 0;
        margin-bottom: 10px;
    }
}

#skills #skilltitle {
    padding: 0px;
    padding-left: 10px;
    width: 150px;
    background-color: $midblue;
    color: white;
}

#skillbox {
}

.skillcol {
    width: 25%;
    margin: 0px 20px 50px 20px;
    display: inline-block;
    float: center;
    vertical-align: top;
    p {
        font-size: 1.5em;
        text-align: left;
        margin: 20px 20px 0 2px;
        text-decoration: none;
    }
    a {
        text-decoration: none;
        color: $midblue;
    }   
}

section ul {
    font-size: 1.5em;
    text-align: left;
    margin: 20px 20px 0 2px;
    text-decoration: none;
    font-weight: 700;
    margin-left: 0;
    padding-left: 0;
}


section li {
    padding-top: 5px;
    font-size: 1em !important;
    text-decoration: none;
    list-style: none;
    font-weight:300;
    padding-left: 15px;
}

#skills .skillcol h3 {
        padding-left: 0;
    margin-left: 0;
    padding-bottom: 0;
    //border-bottom: 2px solid $gray;
    margin-right: 10px;
}

/*CONTACT SECTION*/

#contact {
    height: 200px;
    background-color: $midgreen;
}

#contactbox {
    padding-top: 20px;
}

#contact h3 {
    color: #fff;
    width: 200px;
    font-size: 3em;
    padding:0;
    margin: 0;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    margin-bottom: 30px;
    margin-left: 40px;
}

#contact p {
    margin-left: 40px;
    color: #fff;
    font-size: 1.5em;
    text-align:left;
}

/*FOOTER SECTION*/

footer  {
    height: 40px;
    background-color: lighten($midgreen, 5%);
}

footer p {
    font-size: 1.2em;
    font-weight: 500em;
    padding: 0;
    color: #fff;
    margin-top: 12px;
    float: right;
    padding-right: 10px;
    margin-bottom: 0;
    &:first-child {
        color: $midgreen;
        background-color: #fff;
        padding: 3px 5px;
        border-radius: 3px;
        margin-top: 9px;
        margin-right: 15px;
        font-weight: 600;
    }
    a {
       text-decoration: none;
        color: inherit;
    }
}


/*MEDIA QUERIES ********************************************************************/

@media screen and (max-width: 1050px) {

    #introtext {
        font-size: 5em;
    }
    
    .triangle {
        margin-top: 105px;
    }
    
}

@media screen and (max-width: 900px) {
    
    #introtext {
        font-size: 4em;
        margin-top: 140px;
    }
    
    .triangle {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 750px) {
    
    #facecontainer {
        width: 250px;
        height: 250px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 650px) {
    
    #introtext {
        font-size: 3em;
        margin-top: 100px;
    }
    
    .triangle {
        margin-top: 55px;
    }
    
    nav ul li {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    #intro {
        height: 200px;
    }
    
    #facecontainer {
        clear: both;
        float: none;
        margin: 30px 25%;
    }
    
    #aboutme {
        height: 800px;
    }
    
    #abouttext {
        width: 80%;
    }
    
    .skillcol {
        clear: both !important;
        width: 90%;
        margin-bottom: 20px;
    }
    
    #skills #skilltitle {
        margin-left: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    #introtext {
        font-size: 3.5em;
        margin-top: 80px;
    }
    
    .triangle {
        margin-top: 25px;
    }
    
    #facecontainer {
         width: 200px;
        height: 200px;
        margin: 30px 15%;
    }
    
    nav ul li {
        margin-left: 10px;
        margin-right: 10px;
    }
    
}