<!-- Headline -->
        <div class="headline area">
            <object class="cloud" id="first" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="second" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="third" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="forth" data="images/Cloud.svg" type="image/svg+xml"></object>
            <div class="row">
                <div class="medium-3 large-3 medium-centered large-centered column">
                    <div>
                        <object id="top-logo" data="images/Top%20Apple.svg" type="image/svg+xml"></object>
                    </div>
                </div>
            </div>
            
            <br>
            <br>
            
            <div class="row">
                <div class="column">
                    <h1>HOMEFIELD <span class="kreon">ORGANICS</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="column small-centered large-centered line">
                </div>
                
            </div>
            <div class="row">
                <br>
                <div class="large-10 large-offset-1 column">
                    <h4 class="kreon">We are a grocery delivery service that focuses on providing the highest quality, certified organic foods available.</h4>
                </div>
            </div>
        </div>