<form class="" data-abide ng-controller="LoginController as loginForm" ng-submit="loginForm.check()">
    
            <div class="row input-wrapper">
                
                <div class="large-6 medium-6 columns">
                    <label>Email
                        <input ng-model="loginForm.cUser.email" type="email" placeholder="johnsmith@example.ca" required/>
                    </label>
                    <small class="error">Incorrect Email</small>
                </div>
                
                <div class="large-6 medium-6 columns">
                    <label>Password
                        <input ng-model="loginForm.cUser.password" type="password" placeholder="Password" id="password" required/>
                    </label>
                    <small class="error">Incorrect Password</small>
                </div>
                    
            </div>
        
            
            <div class="row">
                <div class="small-6 medium-6 large-3 columns">
                    <input class="button small expand form-button radius" type="submit" ng-click="loginForm.increment()">
                </div>
                
                <div class="small-6 medium-6 large-6 columns end">
                    <label>
                        <input class="" type="checkbox" ng-model="loginForm.cUser.remember">Remember me?</label>
                    </div>
                    
                </div>
                
                <div class="row" ng-show="loginForm.attempts > 0">
                    <div class="medium-4 large-4 columns">
                        <a>Forgot Password?</a>
                    </div>
                    
                </div>
                <div  class="row">
                    
                </div>
                
            </form>