<!-- Steps -->
        <div class="steps-background">
            <div class="row area steps">
                <div class="medium-4 large-4 columns">
                    <div class="row">
                        <h3>Step 1</h3>
                    </div>
                    <div class="row">
                        <h5>Sign up for an account by clicking the button in the top right corner of the page!</h5>
                        <h5>It's within reach!</h5>
                    </div>
                    <!--
                    <div class="row">
                        <a class="button small radius">Sign Up</a>
                        <div id="moved-store"></div>
                    </div>
                    -->
                </div>

                <div class="medium-4 large-4 columns">
                    <div class="row">
                        <h3>Step 2</h3>
                    </div>
                    <div class="row">
                        <h5>Search, pick a category or just browse! Then select the items you want delivered and submit your order</h5>
                    </div>
                </div>

                <div class="medium-4 large-4 columns">
                    <div class="row">
                        <h3>Step 3</h3>
                    </div>
                    <div class="row">
                        <h5>On your delivery day leave a large cooler outside with your money inside. Then get ready to enjoy!</h5>
                    </div>
                </div>
                <div id="moved-store"></div>
            </div>
            
        </div>