<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="vegStore">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homefield Organics</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="stylesheets/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,800,700,300,400' rel='stylesheet' type='text/css'>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-utils/ui-utils.js"></script>
    
</head>
    <body>
        
        <!-- Headline -->
        <div class="headline area">
            <object class="cloud" id="first" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="second" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="third" data="images/Cloud.svg" type="image/svg+xml"></object>
                <object class="cloud" id="forth" data="images/Cloud.svg" type="image/svg+xml"></object>
            <div class="row">
                <div class="medium-3 large-3 medium-centered large-centered column">
                    <div>
                        <object id="top-logo" data="images/Top%20Apple.svg" type="image/svg+xml"></object>
                    </div>
                </div>
            </div>
            
            <br>
            <br>
            
            <div class="row">
                <div class="column">
                    <h1>HOMEFIELD <span class="kreon">ORGANICS</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="column small-centered large-centered line">
                </div>
                
            </div>
            <div class="row">
                <br>
                <div class="large-10 large-offset-1 column">
                    <h4 class="kreon">We are a grocery delivery service that focuses on providing the highest quality, certified organic foods available.</h4>
                </div>
            </div>
            <div id="signup"></div>
        </div>
        
        <div ng-controller="ToggleController as tog" >
        
        <!-- Top Bar -->
        <div class="contain-to-grid sticky ">
            <nav class="top-bar" data-topbar>
                <section class="top-bar-section">
                    <ul class="left">
                        <li><a href="#signup">About Us</a></li>
                        <li><a href="#moved-store">The Food</a></li>
                    </ul>

                    <ul class="logo-spot bar-logo-move">
                        <li class="name bar-logo-move">
                            <a href="" ><object class="bar-logo-move" id="bar-logo" data="images/Homefield%20Organics%20Logo.svg" type="image/svg+xml"></object></a> 
                        </li>
                    </ul>

                    <ul class="right">
                        <li><a href="" data-reveal-id="log-in" ng-click="tog.toggleLogIn()">Login</a></li>
                        <li><a href="#signup" ng-click="tog.toggleSignUp()" class="button radius sign-up">Sign Up</a></li>
                    </ul>
                </section>
            </nav>
        </div>
        
        <div id="log-in" class="reveal-modal medium radius" data-reveal>
            <form class="" data-abide ng-controller="LoginController as loginForm" ng-submit="loginForm.check()">
    
            <div class="row input-wrapper">
                
                <div class="large-6 medium-6 columns">
                    <label>Email
                        <input ng-model="loginForm.cUser.email" type="email" placeholder="johnsmith@example.ca" required/>
                    </label>
                    <small class="error">Incorrect Email</small>
                </div>
                
                <div class="large-6 medium-6 columns">
                    <label>Password
                        <input ng-model="loginForm.cUser.password" type="password" placeholder="Password" id="password" required/>
                    </label>
                    <small class="error">Incorrect Password</small>
                </div>
                    
            </div>
        
            
            <div class="row">
                <div class="small-6 medium-6 large-3 columns">
                    <input class="button small expand form-button radius" type="submit" ng-click="loginForm.increment()">
                </div>
                
                <div class="small-6 medium-6 large-6 columns end">
                    <label>
                        <input class="" type="checkbox" ng-model="loginForm.cUser.remember">Remember me?</label>
                    </div>
                    
                </div>
                
                <div class="row" ng-show="loginForm.attempts > 0">
                    <div class="medium-4 large-4 columns">
                        <a>Forgot Password?</a>
                    </div>
                    
                </div>
                <div  class="row">
                    
                </div>
                
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>
            
            
        
        
        <div ng-show="tog.signUp === true && tog.logIn === false">
            <form class="panel" ng-controller="SignupController as signup" ng-submit="signup.addUser()" data-abide method="post" action="/signup">

        <div class="row">
			<div class="medium-6 large-6 columns">
				<label>Email
					<input ng-model="signup.user.email" type="email" placeholder="johnsmith@example.ca" required/>
				</label>
                <small class="error">Invalid Email</small>
			</div>
			<div class="medium-6 large-6 columns">
				<br>
				<label >Would you like to sign up for weekly newsletter?</label>
				<input name="newsletter" type="radio" value="yes" ng-model="signup.user.newsletter" required><label for="newsletterYes">Yes</label>
				<input name="newsletter" type="radio" value="no" ng-model="signup.user.newsletter" required><label for="newsletterNo">No</label>
                <small class="error">Please Answer</small>
			</div>
		</div>
    
        <div class="row">
                <div class="large-6 medium-6 columns">
                    <label>Password
                        <input id="password" ng-model="signup.user.password" type="password" placeholder="Password" required/>
                        <small class="error">Passwords do not match</small>
                    </label>
                </div>
                
                <div class="large-6 medium-6 columns">
                    <label>Confirm Password
                        <input data-equalto="password" ng-model="signup.user.passwordConfirm" type="password" placeholder="Password" required/>
                        <small class="error">Passwords do not match</small>
                    </label>
                </div>
            </div>
    
        <br>
    
		<div class="row">
			<div class="small-6 large-6 columns">
				<label>First Name
					<input ng-model="signup.user.fname" type="text" placeholder="John" class="error" required/>
                    <small class="error">Please fill in your first name</small>
				</label>
			</div>
			<div class="small-6 large-6 columns">
				<label>Last Name
					<input ng-model="signup.user.lname" type="text" placeholder="Smith" ng-class="{error: signup.user.town == 'Waterloo'}" required/>
                    <small class="error">Please fill in your last name</small>
				</label>
			</div>
		</div>
		
		
		<div class="row">
			<div class="large-9 columns">
				<label>Address
					<input ng-model="signup.user.address"type="text" placeholder="1234 Organic Lane" ng-class="{error: signup.user.town == 'Waterloo'}" required/>
                    <small class="error">Invalid address</small>
				</label>
			</div>
		</div>

		<div class="row">
			<div class="small-6 medium-6 large-3 columns">
				<label>Postal Code
					<input ng-model="signup.user.postcode" type="text" placeholder="A0A 1B1" required/>
                    <small class="error">Invalid Postal Code</small>
				</label>
			</div>
			<div class="small-6 medium-6 large-pull-3 columns">
				<label ng-class="{error: signup.user.town == 'Waterloo'}">Town of residence
					<select ng-model="signup.user.town" class="form-control" ng-options="towns for towns in ['Guelph', 'Kitchener', 'Waterlooo', 'Cambridge', 'Fergus', 'Elora', 'Rockwood', 'Eden Mills']" required>
						<option value>Please Select</option>
					</select>
                    <small class="error">Please select town</small>
				</label>
			</div> 
		</div>
		
		
		<div class="row">
			<div class="small-12 medium-6 large-3 columns">
				<label>How did you hear about us?
					<select  ng-model="signup.user.referral" ng-options="referrals for referrals in ['Friends', 'Saw delivery van', 'Flyer', 'Yellow Pages', 'Paper', 'Other...']" required>
						<option value>Please Select</option>
					</select>
                    <small class="error">Please select an answer</small>
				</label>
			</div> 
			
			<div class="medium-6 large-pull-3 columns">
				<label ng-show="signup.user.referral == 'Other...'">Other
					<input ng-model="signup.user.otherRefferal" type="text" placeholder="details"/>
				</label>
			</div>
			
		</div>
		
		
    
    <section>
        <div class="row">
            <fieldset ng-show="signup.user.town != null">
                
            <div class="medium-6 large-3 columns">
				<label>Delivery Day
					<h4 class="subheader">{{signup.updateWeekday()}}</h4>
				</label>
			</div>
                
            <div class="medium-6 large-3 columns end">
				<label>Delivery Location
					<select ng-model="signup.user.location" ng-options="referrals for referrals in ['Front Door', 'Side Door', 'Back Door', 'Other...']" required>
						<option value>Please Select</option>
					</select>
                    <small class="error">Please select Location</small>
				</label>
			</div>
                
        
            
            <div class="columns">
                <label>Special Instructions
					<input ng-model="signup.user.special" type="text" placeholder="ex. Don't step in the compost"/>
				</label>
            </div>
                
                </div>
            
            
        </fieldset>
    </section>
    
    <div class="row">
			<div class="medium-6 large-3 columns">
				<input class="button small expand form-button radius" value="Submit" type="submit" ng-click="signup.increment()">
			</div>
		</div> 
        
		
	</form>
            
        </div>
                            
        
        
        <div class="divider-image" ng-show="tog.signUp === false" data-stellar-background-ratio="0.5">
                        <aside>
                        <div class="scroll-icon first-icon"></div>
                        <div class="scroll-icon no-icon"><section class="column">Organic & Local, Delivered</section></div>
                        <div class="scroll-icon second-icon"></div>
            </aside>

            <div class="filter">
                
            </div>
        </div>
            
        </div>
        
        <!-- Buzzwords -->
        <div class="buzzwords-background">
            <div class="row buzzwords area">
                <div class="row space-me  top-row">
                    <div class="medium-6 large-6  columns float-right">
                        <div class="buzz-one word-pic odd-pic"></div>
                    </div>
                    <div class="medium-6 large-6 columns end ft">
                        <div class="row">
                            <h3>Fresh Products Weekly</h3>
                        </div>
                        <div class="row buzz-descrip odd-text">
                            <h6 class="odd-text">Homefield Oragnics carries a large range of organic, local and fresh foods. We keep great taste high up on our priority list, as we are sure you do too. Local food critic Hunter Caron has given our produce selection a 5 out of 5</h6>
                        </div>
                    </div>
                </div>
                
        

                <div class="row space-me">
                    <div class="medium-6 large-6 columns ft odd">
                        <div class="row">
                            <h3>Easy to Order</h3>
                        </div>
                        <div class="buzz-two buzz-descrip row">
                            <h6>With our fast and dynamic online store you can browse, pick and order online veggies extremely easily and quickly. It’s not hard to come home to fresh produce. Even a teacher could do it without a problem!</h6>
                        </div>
                    </div>
                    <div class="medium-6 large-6 columns end">
                        <div class="word-pic"></div>
                    </div>
                </div>

                <div class="row space-me">
                    <div class="medium-6 large-6 columns float-right">
                        <div class="buzz-three word-pic odd-pic"></div>
                    </div>
                    <div class="medium-6 large-6 columns end ft">
                        <div class="row">
                            <h3>Eco-Friendly</h3>
                        </div>
                        <div class="row buzz-descrip">
                            <h6 class="odd-text">Whether is be the veggies or the enviroment, Homefield Organics pledges to be as green as can be, end to end. From our bike messenger who delivers veggies, to the way our toilets work.</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="divider-image second" data-stellar-background-ratio="0.5">
            
            <div class="filter"></div>
        </div>
        
        <steps></steps>

        
        <!-- Preview Store -->
        <div id="store" class="store-background">
            <div class="row">
                <div ng-controller="StoreController as store">
                    <div class="row">
                        <div class="large-12 medium-10 small-centered large-uncentered columns no-pad">
                            <div class="row collapse">
                                <div class="small-10 medium-10 columns">
                                    <input class="search-box" type="text" placeholder="Search" ng-model="search">
                                </div>
                                <div class="small-2 medium-2 columns">
                                    <a href="" class="button search-button postfix">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="large-10 medium-10 medium-centered large-uncentered categories column">
                            <div class="large-1 medium-2 columns no-pad">
                                <h6>Sort by:</h6>
                            </div>
                            <div class="large-2 medium-2 columns">
                                <select class="form-control item-sizes form-control" ng-model="store.sortType" ng-options="sizes for sizes in ['price', 'origin', 'isOrganic', 'isLocal', 'isOnSale']">
                                        <option value>Pick...</option>
                                </select>
                            </div>
                            <div class="large-1 medium-2 columns no-pad">
                                <a href="" class="button reverse tiny" ng-click="store.toggleReverse()">Reverse</a>
                            </div>
                            
                            <div class="large-0 medium-2 columns">
                                
                            </div>
                            
                            <div class="large-2 medium-3 columns no-pad large-offset-1">
                                <h6>Refine Category:</h6>
                            </div>
                            <div class="large-2 medium-2 columns no-pad">
                                <select class="form-control list-category form-control" ng-model="store.filterType" ng-options="product.subCategory group by product.category for product in store.products | unique: 'subCategory'">
                                        <option value>Pick...</option>
                                </select>
                            </div>
                            <div class="large-3 medium-3 columns end">
                                
                                <h6></h6>
                            </div>
                            
                            
                        </div>
                        
                        <div class="large-1 medium-1 column order-area-outer no-pad">
                             <a href=""  data-tooltip title="Call Hunter" data-options="disable_for_touch:true" class="button open-cart has-tip" ng-click="store.startTour()">
                                 <img id="help-logo" src="images/help.svg" type="image/svg+xml"></img>
                             </a>
                        </div>
                        
                        <div class="large-1 medium-1 column order-area-outer no-pad end">
                            
                            <a href="" class="button open-cart" data-options="align:left" data-dropdown="drop2">
                                <img id="cart-logo" src="images/cart.svg" type="image/svg+xml"></img>
                            </a>
                                <div id="drop2" data-dropdown-content class="f-dropdown content large">
                                 
                                <div class="column order-area-inner">
                                    <div class="row order-top">
                                    <h3>Order Summary</h3>
                                    </div>
                                
                                <div class="row order-item" ng-repeat="product in store.products | filter: {'isSelected' : true}">
                                    <div class="large-1 medium-1 column">
                                        <a href="" ng-click="store.unselect(product)">
                                            <div class="remove-icon"></div>
                                        </a>
                                    </div>
                                    <div class="large-8 medium-8 column">
                                        <h6 class="order-item-name">{{product.subCategory}}: {{product.name}} - {{product.selectedSize}}</h6>
                                    </div>
                                    <div class="large-1 medium-1 column">
                                        <select class="form-control item-quantity" ng-model="product.quantity" ng-options="nums for nums in [2,3,4,5,6,7,8,9]">
                                            <option value>1</option>
                                    </select>
                                    </div>
                                    <div class="large-1 medium-1 column no-pad">
                                        <h6 class="order-item-price">{{product.price[store.calculateIndex(product.allSizes.indexOf(product.selectedSize))] * store.calcQuan(product.quantity) | currency}}</h6>
                                    </div>
                                </div>
                                    
                                <div class="row order-bottom">
                                    <div class="row light-text">
                                        <div class="large-6 medium-6 column">
                                            <h6>Subtotal</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>{{store.updateCart() | currency}}</h6>
                                        </div>
                                    </div>
                                    <div class="row light-text">
                                        <div class="large-6 medium-6 column">
                                            <h6>Shipping</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>{{store.shipping | currency}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-6 medium-6 column">
                                            <h6>Grand Total</h6>
                                        </div>
                                        <div class="large-5 medium-5 small-offset-1 column">
                                            <h6>{{store.total | currency}}</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="large-5 medium-5 column small-centered large-centered">
                                            <a class="button  small">Submit Order</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                        
                                    
                                </div>
                                
                                
    
                            </div>
                        </div>
                    
                    
                    </div>
    
                    <div class="row">
                        <div class="large-12 medium-10 medium-centered large-uncentered columns">
                            <div class="row store-item animate-repeat" ng-repeat="product in store.products | filter:search | orderBy:store.sortType:store.reverse | filter: store.filterType.subCategory">
                                <div class="large-1 medium-1 columns checkbox-box">
                                    
                                    <div class="switch small radius">
  		                                <input type="checkbox" value="1" id="{{product.name}}" ng-model="product.isSelected"/>
	  	                                <label class="has-tip radius checkbox" data-tooltip title="Add to Cart" for="{{product.name}}"></label>
  	                                 </div>
                                </div>
                                <div class="large-6 medium-6 columns">
                                    <div class="row name-area">
                                        <div class="large-12 medium-12 column name-box no-pad">
                                            <h5 class="item-subcategory">{{product.subCategory}}: </h5>
                                            <h3 class="item-name">{{product.name}}</h3>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <p class="item-origin">From {{product.origin}}</p>
                                    </div>
                                </div>
                                <div class="large-1 medium-1 columns">
                                    <h5 class="item-price">{{product.price[store.calculateIndex(product.allSizes.indexOf(product.selectedSize))] | currency}}</h5>
                                </div>
                                <div class="large-2 medium-2 columns">
                                    <select class="form-control item-sizes" ng-model="product.selectedSize" ng-options="sizes for sizes in product.sizes">
                                        <option value="">{{product.size}}</option>
                                    </select>
                                </div>
                                <div class="large-2 medium-2 columns">
                                    <div class="row">
                                        <div class="icon organic has-tip radius" data-tooltip title="Organic Item" data-options="disable_for_touch:true" ng-show="{{product.isOrganic === true}}"></div>
                                        <div class="icon local has-tip radius" data-tooltip title="Local Item" data-options="disable_for_touch:true" ng-show="{{product.isLocal === true}}"></div>
                                        <div class="icon sale has-tip radius" data-tooltip title="Sale Item" data-options="disable_for_touch:true" ng-show="{{product.isOnSale === true}}"></div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                        
                    
                    
                    </div>
                </div>
            </div>
        </div>
        
        <footer>
            <div class="row">
                <div class="medium-6 column">
                    <p>Designed and Coded by Hunter Caron</p>
                </div>
                <div class="medium-3 medium-offset-3 large-3 large-offset-3 column end">
                    <p>Not Official Homefield Organics Site</p>
                </div>
            </div>
        </footer>
        
        
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="bower_components/foundation/js/foundation/foundation.abide.js"></script>
        <script src="bower_components/jquery.stellar/jquery.stellar.min.js"></script>
        <script src="bower_components/velocity/velocity.min.js"></script>
        <script src="bower_components/velocity/velocity.ui.js"></script>


        <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>