<form class="panel" ng-submit="login.check()" novalidate>
    
            <div class="row">
                <fieldset ng-disabled="loginForm.register === true">
                <div class="large-6 medium-6 columns">
                    <label>Email
                        <input ng-model="loginForm.cUser.email" type="email" placeholder="johnsmith@example.ca" required="required"/>
                    </label>
                </div>
                
                <div class="large-6 medium-6 columns">
                    <label>Password
                        <input ng-model="loginForm.cUser.password" type="password" placeholder="Password" required="required"/>
                    </label>
                </div>
                    </fieldset>
            </div>
        
            
            <div class="row">
                <div class="small-6 medium-6 large-3 columns">
                    <input class="button small expand " type="submit" ng-click="loginForm.increment()" ng-class="{disabled: loginForm.register === true}">
                </div>
                
                <div class="small-6 medium-6 large-3 columns end">
                    <a href="" class="button small expand" ng-click="loginForm.toggleSignup()">Register</a>
                </div>
                
                <div class="small-6 medium-6 large-3 columns end" ng-show="loginForm.register == false">
                    <label>
                        <input class="" type="checkbox">
                        Remember me?</label>
                    </div>
                    
                </div>
                
                <div class="row" ng-show="loginForm.attempts > 0 && loginForm.register == false">
                    <div class="medium-4 large-3 columns">
                        <a>Forgot Password?</a>
                    </div>
                    
                </div>
                <div  class="row">
                    
                </div>
                
            </form>
            