
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
    margin: 0;
    
    height: 100%;
    font-size: 1.6em;
    line-height: 1.6;
    font-weight: 400;
    background-color: black;
    font-family: sans-serif;
    color: #222;
    webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
