/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 24, ../scss/screen.scss */
.kreon {
  font-family: 'Kreon', serif !important;
}

/* line 28, ../scss/screen.scss */
h4, h5 {
  font-weight: 300;
}

/* line 32, ../scss/screen.scss */
h5 {
  color: white !important;
}

/* line 37, ../scss/screen.scss */
.animate-repeat {
  line-height: 40px;
  list-style: none;
  box-sizing: border-box;
}

/* line 45, ../scss/screen.scss */
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 300ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}

/* line 55, ../scss/screen.scss */
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}

/* line 61, ../scss/screen.scss */
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}

/* line 67, ../scss/screen.scss */
#top-logo {
  margin-top: -13px;
  width: 175px;
  height: 175px;
}

/* line 73, ../scss/screen.scss */
.headline {
  height: 430px;
}

/* line 77, ../scss/screen.scss */
.headline h1 {
  font-weight: 700;
  font-size: 3.5rem;
}
/* line 80, ../scss/screen.scss */
.headline h1 span {
  font-weight: 300;
}

/* line 85, ../scss/screen.scss */
.line {
  border-bottom: 2px solid white;
  width: 40%;
}

/* line 90, ../scss/screen.scss */
.headline h5 {
  font-weight: 300;
}

/* line 97, ../scss/screen.scss */
.cloud {
  display: inline-block;
  height: 100px;
  width: 100px;
  position: absolute;
}

/* line 104, ../scss/screen.scss */
#first {
  margin: 40px 0 0 250px;
  height: 150px;
  width: 150px;
}

/* line 110, ../scss/screen.scss */
#second {
  margin: 20px 0 0 110px;
  height: 70px;
  width: 70px;
}

/* line 116, ../scss/screen.scss */
#third {
  margin: 50px 0 0 -390px;
  height: 100px;
  width: 100px;
}

/* line 122, ../scss/screen.scss */
#forth {
  margin: 8px 0 0 -220px;
  height: 90px;
  width: 90px;
}

/* line 130, ../scss/screen.scss */
.sign-up {
  margin-left: 5px !important;
  border-bottom: 3px solid #87b09b !important;
}
/* line 133, ../scss/screen.scss */
.sign-up:hover {
  margin-top: 1px !important;
}

/* line 138, ../scss/screen.scss */
.sticky {
  border-bottom: 1px solid #9dcdb3;
  z-index: 100 !important;
}

/* line 143, ../scss/screen.scss */
.top-bar-section li {
  background-color: white !important;
}

/* line 146, ../scss/screen.scss */
.top-bar-section .button {
  background-color: #9dcdb3 !important;
}
/* line 148, ../scss/screen.scss */
.top-bar-section .button:hover {
  background-color: #87b09b !important;
}

/* line 153, ../scss/screen.scss */
#bar-logo {
  height: 50px;
  width: 50px;
  margin-right: 28px;
  margin-top: 6px;
}

/* line 160, ../scss/screen.scss */
.name a {
  background: none !important;
  padding-left: 10px !important;
  cursor: default !important;
}

/* line 166, ../scss/screen.scss */
nav.top-bar {
  text-align: center;
  font-weight: 700 !important;
}

/* line 171, ../scss/screen.scss */
.top-bar-section .logo-spot {
  display: table;
  margin: 0 auto;
  display: inline-block;
}

/* line 177, ../scss/screen.scss */
.top-bar-section {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 184, ../scss/screen.scss */
.form-button {
  color: #fff !important;
  border-bottom: 3px solid #87b09b;
}
/* line 187, ../scss/screen.scss */
.form-button:hover {
  margin-top: 1px !important;
  padding-top: 0.874rem !important;
}

/* line 195, ../scss/screen.scss */
.area * {
  color: white;
}

/* line 199, ../scss/screen.scss */
.headline, .steps * {
  text-align: center;
  font-family: 'Kreon', serif !important;
}

/* line 204, ../scss/screen.scss */
.buzzwords h3 {
  font-family: 'Kreon', serif !important;
}

/* line 208, ../scss/screen.scss */
.steps-background {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99b5cf), color-stop(100%, #accbe8));
  background-image: -webkit-linear-gradient(#99b5cf, #accbe8);
  background-image: -moz-linear-gradient(#99b5cf, #accbe8);
  background-image: -o-linear-gradient(#99b5cf, #accbe8);
  background-image: linear-gradient(#99b5cf, #accbe8);
}

/* line 213, ../scss/screen.scss */
.buzzwords-background {
  background-color: #f0f0f0;
}

/* line 217, ../scss/screen.scss */
.store-background {
  background-color: #accbe8;
}

/* line 221, ../scss/screen.scss */
.headline {
  z-index: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #accbe8), color-stop(100%, #99b5cf));
  background-image: -webkit-linear-gradient(#accbe8, #99b5cf);
  background-image: -moz-linear-gradient(#accbe8, #99b5cf);
  background-image: -o-linear-gradient(#accbe8, #99b5cf);
  background-image: linear-gradient(#accbe8, #99b5cf);
}

/* line 229, ../scss/screen.scss */
.buzzwords h3 {
  color: #87b09b !important;
  font-weight: 700;
}
/* line 233, ../scss/screen.scss */
.buzzwords h6 {
  color: #b7b7b7 !important;
  font-weight: 300;
}

/* line 239, ../scss/screen.scss */
.buzz-descrip * {
  padding-left: 40px;
  line-height: 160% !important;
}

/* line 244, ../scss/screen.scss */
.top-row {
  padding-top: 30px;
}

/* line 248, ../scss/screen.scss */
.buzzwords.row {
  padding-top: 20px;
}

/* line 252, ../scss/screen.scss */
.odd * {
  text-align: right;
}

/* line 256, ../scss/screen.scss */
.odd-text {
  padding-left: 0 !important;
  padding-right: 45px;
}

/* line 261, ../scss/screen.scss */
.ft {
  padding: 20px;
  padding-top: 10px;
  margin-top: 10px;
}

/* line 267, ../scss/screen.scss */
.space-me {
  margin-bottom: 70px;
}

/* line 275, ../scss/screen.scss */
.word-pic {
  margin-bottom: 50px;
  height: 200px;
  width: 90%;
  border-radius: 6px;
  background-size: 100% !important;
  background-position: center;
  background-origin: border-box;
  background-color: #9dcdb3;
  background-repeat: no-repeat;
  background-size: 80% !important;
  background-image: url("../images/buzzword-two.png");
}

/* line 289, ../scss/screen.scss */
.odd-pic {
  margin-left: 40px !important;
}

/* line 293, ../scss/screen.scss */
.buzz-one {
  background-image: url("../images/buzzword-one.png");
}

/* line 297, ../scss/screen.scss */
.buzz-three {
  background-image: url("../images/buzzword-three.png");
}

/* line 303, ../scss/screen.scss */
.divider-image {
  background-color: #ccb38b;
}

/* line 309, ../scss/screen.scss */
.divider-image {
  background-image: url("../images/Apple-1.jpg");
  width: 100%;
  height: 450px;
  background-position: top;
  background-position-y: 400px;
  background-size: 159%;
  background-repeat: no-repeat;
}
/* line 317, ../scss/screen.scss */
.divider-image .filter {
  width: 100%;
  height: 100%;
  background-color: #87b09b;
  opacity: 0.40;
  filter: alpha(opacity=40);
}
/* line 324, ../scss/screen.scss */
.divider-image.second {
  height: 300px;
  background-position-y: -330px;
  background-image: url("../images/berries.jpg");
}

/* line 331, ../scss/screen.scss */
aside {
  padding: 15px;
  font-size: 2rem;
  border-radius: 6px;
  text-align: center;
  top: 645px;
  margin: auto;
  left: 0;
  right: 0;
  width: 60%;
  position: absolute;
  color: #fff;
  padding-top: 10px;
  font-family: "Kreon", serif;
  z-index: 1;
  height: 200px;
}
/* line 348, ../scss/screen.scss */
aside div {
  float: left;
  width: 120px;
  display: inline-block;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 6px;
  border-bottom: 3px solid #d0d0d0;
  background-size: 100%;
  background-image: url("../images/organic-icon.png");
  background-repeat: no-repeat;
}

/* line 364, ../scss/screen.scss */
.second-icon {
  float: right;
  background-image: url("../images/local-icon.png");
}

/* line 369, ../scss/screen.scss */
.no-icon {
  background-image: none;
  color: #b7b7b7;
  width: 50%;
  float: none;
}
/* line 374, ../scss/screen.scss */
.no-icon section {
  padding-top: 40px;
}

/* line 381, ../scss/screen.scss */
.steps .button {
  background-color: #e66665 !important;
}
/* line 384, ../scss/screen.scss */
.steps .button:hover {
  color: white;
  background-color: #cb5d5c !important;
}

/* line 390, ../scss/screen.scss */
.steps {
  padding: 70px 0 20px 0;
}

/* line 394, ../scss/screen.scss */
.steps .columns {
  padding: 0 30px 0 30px;
}

/* line 398, ../scss/screen.scss */
.steps {
  height: 300px;
}

/* line 406, ../scss/screen.scss */
.categories {
  border-bottom: 3px solid #99b5cf;
  background-color: #accbe8;
  margin-bottom: 12px;
  border-radius: 6px;
  padding-top: 15px !important;
}
/* line 413, ../scss/screen.scss */
.categories h6 {
  padding-top: 5px !important;
  color: #fff;
}

/* line 419, ../scss/screen.scss */
.list-category {
  width: 150px;
}

/* line 423, ../scss/screen.scss */
.reverse {
  margin-top: 1px;
  height: 35px;
  background: #fff;
  color: #99b5cf;
  font-weight: 600;
}
/* line 429, ../scss/screen.scss */
.reverse:hover {
  background: #99b5cf;
  color: #fff;
}

/* line 435, ../scss/screen.scss */
.clear-refine {
  margin: 0 !important;
}

/* line 441, ../scss/screen.scss */
.search-box {
  height: 50px !important;
  font-size: 1.5rem !important;
  font-weight: 300;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

/* line 449, ../scss/screen.scss */
.store-background {
  background-color: #f0f0f0;
  padding-top: 30px;
  min-height: 600px;
}

/* line 456, ../scss/screen.scss */
.icon {
  background-color: white;
  height: 28px;
  width: 28px;
  border-radius: 3px;
  display: inline-block;
  margin: 3px;
  background-image: url("../images/organic-icon.png");
  background-position: center;
  background-size: 100%;
}

/* line 469, ../scss/screen.scss */
.local {
  background-image: url("../images/local-icon.png");
}

/* line 473, ../scss/screen.scss */
.sale {
  background-image: url("../images/sale-icon.png");
}

/* line 477, ../scss/screen.scss */
.store-item {
  margin-bottom: 12px !important;
  background-color: #9dcdb3;
  padding: 10px;
  border-radius: 6px;
  height: 90px;
  border-bottom: 3px solid #87b09b;
}

/* line 486, ../scss/screen.scss */
.item-subcategory {
  text-align: right;
  margin-bottom: -10px !important;
  padding-bottom: -10px;
  font-family: "Kreon", sans-serif;
  display: inline-block;
}

/* line 494, ../scss/screen.scss */
.item-name {
  display: inline-block;
  font-family: "Kreon", sans-serif;
  margin: 0;
  color: #fff;
  font-weight: 400;
}

/* line 502, ../scss/screen.scss */
.name-box {
  padding-right: 0;
  padding-left: 3px;
}

/* line 507, ../scss/screen.scss */
.item-origin {
  font-size: 0.8rem !important;
  color: #f0f0f0;
  font-weight: 300;
  padding-top: 3px;
}

/* line 514, ../scss/screen.scss */
.together {
  display: inline-block;
}

/* line 518, ../scss/screen.scss */
.name-area {
  border-bottom: 2px solid #87b09b;
}

/* line 526, ../scss/screen.scss */
.no-pad {
  padding: 0 !important;
}

/* line 530, ../scss/screen.scss */
.search-button {
  color: #fff !important;
  height: 50px;
  padding-top: 8px !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 541, ../scss/screen.scss */
.checkbox {
  margin-top: 20px;
  margin-left: 0;
}

/* line 546, ../scss/screen.scss */
.checkbox-box {
  padding-left: 7px !important;
}

/* line 550, ../scss/screen.scss */
div.switch input:checked + label {
  background-color: #e66665;
}

/* line 556, ../scss/screen.scss */
.f-dropdown {
  -webkit-box-shadow: #525252 2px 5px 20px;
  -moz-box-shadow: #525252 2px 5px 20px;
  box-shadow: #525252 2px 5px 20px;
  background: #fff !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 6px !important;
  width: 500px !important;
}

/* line 565, ../scss/screen.scss */
.open-cart {
  padding: 0;
  padding: 0 10px 2px 10px;
  border-radius: 6px;
  margin-bottom: 0;
  background-color: #accbe8;
  border-bottom: 3px solid #99b5cf;
}
/* line 572, ../scss/screen.scss */
.open-cart:hover {
  background-color: #99b5cf;
  margin-top: 1px !important;
}
/* line 576, ../scss/screen.scss */
.open-cart:active {
  background-color: #99b5cf;
}

/* line 581, ../scss/screen.scss */
#cart-logo {
  width: 60px;
  height: 40px;
  padding: 0;
  padding-top: 5px;
  cursor: pointer !important;
}

/* line 589, ../scss/screen.scss */
#help-logo {
  width: 60px;
  height: 40px;
  padding: 0;
  padding-top: 1px;
  cursor: pointer !important;
}

/* line 597, ../scss/screen.scss */
.order-top {
  background-color: #99b5cf;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
}
/* line 602, ../scss/screen.scss */
.order-top h3 {
  padding-top: 5px;
  font-family: "Kreon", sans-serif !important;
  color: white;
}

/* line 609, ../scss/screen.scss */
.order-area-outer {
  padding: 0;
  padding-left: 12px !important;
  margin-bottom: 10px;
}

/* line 615, ../scss/screen.scss */
.order-area-inner {
  border-radius: 6px;
  background-color: #fff;
}

/* line 620, ../scss/screen.scss */
.remove-icon {
  background-image: url("../images/remove-icon.png");
  background-position: center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  margin-top: 8px;
}

/* line 629, ../scss/screen.scss */
.item-quantity {
  height: 35px;
  width: 50px;
  margin-left: -20px;
  margin-bottom: 0px;
}

/* line 636, ../scss/screen.scss */
.order-item {
  padding-top: 3px;
  padding-bottom: 0px;
}

/* line 641, ../scss/screen.scss */
.order-item-name {
  margin-top: 6px;
  color: #99b5cf !important;
}

/* line 646, ../scss/screen.scss */
.order-item-price {
  margin-top: 6px;
  margin-left: -25px;
  color: #818181;
}

/* line 652, ../scss/screen.scss */
.light-text * {
  font-weight: 300 !important;
}

/* line 656, ../scss/screen.scss */
.order-bottom {
  border-top: 2px solid #accbe8;
  margin-top: 15px !important;
  padding-top: 10px;
}

/* line 662, ../scss/screen.scss */
.order-bottom .row {
  text-align: right;
}
/* line 664, ../scss/screen.scss */
.order-bottom .row h6 {
  color: #818181;
}
/* line 667, ../scss/screen.scss */
.order-bottom .row .button {
  margin-top: 10px;
  color: white !important;
  border-radius: 6px;
  background-color: #accbe8;
  border-bottom: 3px solid #99b5cf;
}
/* line 673, ../scss/screen.scss */
.order-bottom .row .button:hover {
  background-color: #99b5cf;
}

/* line 679, ../scss/screen.scss */
.order-bottom .row .small-offset-1 {
  text-align: left !important;
}

/* line 686, ../scss/screen.scss */
footer {
  margin-bottom: 0;
  height: 50px;
  background-color: #ad9876;
}
/* line 690, ../scss/screen.scss */
footer p {
  margin-bottom: 0;
  font-size: 0.8rem !important;
  color: white;
  padding-top: 15px;
}

@media only screen and (max-width: 1333px) {
  /* line 702, ../scss/screen.scss */
  aside {
    font-size: 2rem !important;
  }
  /* line 704, ../scss/screen.scss */
  aside section {
    line-height: 2.2rem;
    margin-top: 0px;
    padding-top: 25px !important;
  }
}
@media only screen and (max-width: 1080px) {
  /* line 713, ../scss/screen.scss */
  aside {
    font-size: 1.6rem !important;
  }
}
@media only screen and (max-width: 85.063em) {
  /* line 718, ../scss/screen.scss */
  .divider-image {
    background-position: top;
    background-position-y: 0px;
    background-size: 189%;
  }
}
@media only screen and (max-width: 64.063em) {
  /* line 726, ../scss/screen.scss */
  .categories {
    height: 70px;
  }
}
